<button mat-raised-button (click)="newComment()">Add comment</button>

<mat-grid-list cols="2" rowHeight="2:1">
    {{console.log(comments)}}
    <mat-grid-tile *ngFor="let comment of comments">
        <mat-card class="customCard">
            <button mat-button class="menu-button" (click)="deleteComment(comment.id)">
                <mat-icon>delete</mat-icon>
            </button>
            <mat-card-title>{{comment.title}}</mat-card-title>
            <mat-card-content>{{comment.description}}</mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>