
<app-header></app-header>

<mat-sidenav-container>
  <mat-sidenav class="mat-elevation-z8" opened mode="side">
    <a routerLink="login" *ngIf="!authService.userData">
      <button mat-button class="menu-button">
          <mat-icon>login</mat-icon>
          <span>Connexion</span>
      </button>
    </a>
    <a routerLink="register" *ngIf="!authService.userData">
      <button mat-button class="menu-button">
          <mat-icon>login</mat-icon>
          <span>Inscription</span>
      </button>
    </a>
    <a (click)="authService.logout()" *ngIf="authService.userData">
      <button mat-button class="menu-button">
          <mat-icon>logout</mat-icon>
          <span>Déconnexion</span>
      </button>
    </a>
    <a routerLink="/">
      <button mat-button class="menu-button">
          <mat-icon>home</mat-icon>
          <span>Accueil</span>
      </button>
    </a>
    <a routerLink="/games">
    <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span>Top 10 jeux</span>
    </button>
    </a>

  </mat-sidenav>
  <mat-sidenav-content>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>