
<app-header></app-header>

<mat-sidenav-container>
  <mat-sidenav class="mat-elevation-z8" opened mode="side">
    <a routerLink="login">
      <button mat-button class="menu-button">
          <mat-icon>home</mat-icon>
          <span>Login</span>
      </button>
    </a>
    <a routerLink="/">
      <button mat-button class="menu-button">
          <mat-icon>home</mat-icon>
          <span>Accueil</span>
      </button>
    </a>
    <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span>Super héros</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>